---
layout: default
title: 1st Poulner Scout Group - Booking
active: /booking/mac
---

<h1 class="page-heading">Multi Activity Centre Booking</h1>

<p></p>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Address</h3>
	</div>
	<div class="panel-body">
		264 Southampton Road<br>
		Ringwood<br>
		Hampshire<br>
		BH24 1JQ<br>
	</div>
</div>

<p>A £50 deposit (usually by cheque) is also payable prior to use of the hall to offset any damage that may occur. This cheque is ripped up if there is no damage after the event.</p>
<p><a href="/mac">Click here for further information on the Multi Activity Centre</a></p>
<br>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">For further information or booking, please contact:</h3>
	</div>
	<div class="panel-body">
		Eddie Adams<br>
		Tel No: 01425 474072<br>
		Email: <a href="mailto:edwardadams@btinternet.com">edwardadams@btinternet.com</a>
	</div>
</div>
<h3>Multi Activity Centre Bookings</h3>
<p>This calendar shows events for the next 12 months.</p>
<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" src="https://www.google.com/calendar/embed?showTitle=0&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=b4gvcfqf5rp44sstb6srfu2ggk%40group.calendar.google.com&amp;color=%2329527A&amp;ctz=Europe%2FLondon" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
