---
layout: default
active: home
title: 1st Poulner Scouts
---

<h1 class="page-heading">Home</h1>
<p>Welcome to 1st Poulner Scout Group's Website. This site provides information about the group, useful information and details of up and coming events. We try hard to keep the site updated so please be patient if something is out of date.</p>

<h3>About The Group</h3>
<p>1st Poulner Scout Group is based in Poulner, Ringwood. The Group Scout Leader is Colin Andrews. The Scout Group tries to offer many varied events and activities to the young people from Climbing and Sailing, to annual summer camps, weekend camps and cycle expeditions, <a href="/events/ski-trip/">Skiing</a> in Switzerland, expeditions to <a href="/malawi">Malawi</a> and much much more...</p>

<p>The group is broken down into four different sections, <a href="/beavers">Beavers</a>, <a href="/cubs">Cubs</a>, <a href="/scouts">Scouts</a>, and <a href="/explorers">Explorers</a>.</p>

<p>All sections meet on weekday evenings.</p>

<ul>
	<li>Beavers meet on Tuesdays (Bramble), Wednesday (Bracken) and Thursday (Gorse)</li>
	<li>Cubs meet on Mondays (Saturn Pack), Tuesdays (Jupiter Pack) and Wednesday (Neptune Pack)</li>
	<li>Scouts meet on Wednesdays (Curlew Troop) and Fridays (Kingfisher Troop).</li>
	<li>Explorers meet on Thursdays.</li>
</ul>

<p>A lot more very useful information can be found in <a href="/files/WelcomePack2015.pdf" target="_blank">The 1st Poulner Welcome Pack</a>.</p>

<h3>Booking the Hall</h3>
<p>Our Scout Hall at Poulner is used most weekday evenings. It is available for <a href="/booking">booking</a> on most weekends and/or school holidays.</p>
<p>We also run sections from our 'annexe' HQ at Strides Lane (off the Market Place) in Ringwood. This is the old 1st Ringwood Scout Group HQ, but sadly the group closed some years ago. This Hall is available for hire most weekends, and some weekday evenings.</p>
