---
layout: default
title: 1st Poulner Scout Group - Booking
active: /booking/strides-lane
---

<h1 class="page-heading">Strides Lane Hall Booking</h1>

<p>Strides Lane Hall is available for bookings mainly at weekends. See bottom of the page for the calendar with the available times</p>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Address</h3>
	</div>
	<div class="panel-body">
		1st Poulner Scout Group<br>
		Strides Lane<br>
		Ringwood<br>
		BH24 1ED<br>
	</div>
</div>
<h3>Facilities include</h3>
<ul>
	<li>Hall to accommodate up to 60</li>
    <li>Small Kitchen with cooker</li>
    <li>Male and Female Toilets</li>
    <li>Tables and Chairs</li>
    <li>Nearest car parking is in the Market Place </li>
</ul>

<h3>Map</h3>
<img class="img-responsive thumbnail" src="/img/stridesLaneMap.jpg" alt="Strides Lane Map">

<h3>Rates</h3>
<ul>
	<li>£6.50 per hour before 6:00pm</li>
	<li>£10 per hour after 6:00pm</li>
</ul>

<p>A £50 deposit (usually by cheque) is also payable prior to use of the hall to offset any damage that may occur. This cheque is ripped up if there is no damage after the event.</p>
<br>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">For further information or booking, please contact:</h3>
	</div>
	<div class="panel-body">
		Neil Dyer<br>
		Tel No: 01425 479454<br>
		Email: <a href="mailto:neil@dyer-bods.co.uk">neil@dyer-bods.co.uk</a>
	</div>
</div>
<h3>Strides Lane Bookings</h3>
<p>This calendar shows events for the next 12 months.</p>
<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" src="https://www.google.com/calendar/embed?showTitle=0&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=87l2pqt5hql4u163fbl72jr4u4%40group.calendar.google.com&amp;color=%2329527A&amp;ctz=Europe%2FLondon" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
