<footer>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-lg-10 col-lg-offset-1">
				&copy; 2017 1st Poulner Scout Group
			</div>
		</div>
	</div>
</footer>
<script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
{% if {{include.featherlight}} %}
<script src="/js/featherlight.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/featherlight.gallery.js" type="text/javascript" charset="utf-8"></script>
{% endif %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62590253-1', 'auto');
  ga('send', 'pageview');
</script>