---
layout: default
title: 1st Poulner Scout Group - Booking
featherlight: true
active: /booking/poulner-scout-hall
---

<h1 class="page-heading">Poulner Scout Hall Booking</h1>

<p>Poulner Scout Hall on Southampton road is available for bookings mainly at weekends. see bottom of the page for the calendar with the available times</p>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Address</h3>
	</div>
	<div class="panel-body">
		264 Southampton Road<br>
		Ringwood<br>
		Hampshire<br>
		BH24 1JQ<br>
	</div>
</div>

<h3>Facilities include</h3>
<ul>
	<li>Car Park</li>
	<li>Large Hall to Accommodate Up to 120 </li>
	<li>Refurbished Kitchen</li>
	<li>Male and Female Toilets</li>
	<li>Tables, Benches and Chairs</li>
	<li>Large Outside Garden Space</li>
</ul>

<section data-featherlight-gallery data-featherlight-filter="a">    
    <h3>Photos</h3>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <a class="thumbnail pull-left img-text" href="/img/booking/poulner-hall-1.jpg"><img src="/img/booking/poulner-hall-1.thumb.jpg" /></a>
        </div>
    </div>
</section>

<h3>Rates</h3>
<ul>
	<li>£10 per hour before 6:00pm</li>
	<li>£15 per hour after 6:00pm</li>
</ul>

<p>A £50 deposit (usually by cheque) is also payable prior to use of the hall to offset any damage that may occur. This cheque is ripped up if there is no damage after the event.</p>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">For further information or booking, please contact:</h3>
	</div>
	<div class="panel-body">
		Neil Dyer<br>
		Tel No: 01425 479454<br>
		Email: <a href="mailto:neil@dyer-bods.co.uk">neil@dyer-bods.co.uk</a>
	</div>
</div>
<h3>Southampton Road Bookings</h3>
<p>This calendar shows events for the next 12 months.</p>
<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" src="https://www.google.com/calendar/embed?showTitle=0&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=0pv5vjs4s3b0usg1ugf6705q90%40group.calendar.google.com&amp;color=%230D7813&amp;ctz=Europe%2FLondon" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
