---
layout: default
active: /cubs/programme
---

<h1 class="page-heading">Cubs Programme</h1>

<p>Monday - Saturn - 6:30 till 8:00<br> Tuesday - Jupiter - 6:30 till 8:00<br>
</p>
<p><a href="/programmes/2017-autumn-cubs.pdf" class="btn btn-success" target="_blank"><span class="glyphicon glyphicon-download-alt"></span> Download Cub Programme</a></p>
<br>

<table class="table table-hover table-bordered">
	<tbody>
		<tr>
			<th>
				Day
			</th>
			<th>
				Date
			</th>
			<th>
				Programme
			</th>
			<th>
				Notes
			</th>
		</tr>
		<tr>
			<td>
				Mon
			</td>
			<td>
				11th Sept
			</td>
			<td>
				Welcome back, Scouting
			</td>
			<td>
				Bring a picture of your hero&nbsp; week after next
			</td>
		</tr>
		<tr>
			<td>
				Tues
			</td>
			<td>
				12th Sept
			</td>
			<td>
				Welcome back, Scouting
			</td>
			<td>
				Bring a picture of your hero&nbsp;&nbsp; week after next
			</td>
		</tr>
		<tr class="font-blue">
			<td>
				Sat
			</td>
			<td>
				16th Sept
			</td>
			<td>
				Carnival
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr>
			<td>
				Mon
			</td>
			<td>
				18th Sept
			</td>
			<td>
				Crabbing
			</td>
			<td>
				6.15-8.30pm. Travelling in minibuses
			</td>
		</tr>
		<tr>
			<td>
				Tues
			</td>
			<td>
				19th Sept
			</td>
			<td>
				Crabbing
			</td>
			<td>
				6.15-8.30pm. Travelling in minibuses
			</td>
		</tr>
		<tr>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr>
			<td>
				Mon
			</td>
			<td>
				25th Sept
			</td>
			<td>
				Malawi and Heroes
			</td>
			<td>
				Bring cycle helmet next week
			</td>
		</tr>
		<tr>
			<td>
				Tues
			</td>
			<td>
				26th Sept
			</td>
			<td>
				Malawi and Heroes
			</td>
			<td>
				Bring cycle helmet next week
			</td>
		</tr>
		<tr>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr>
			<td>
				Mon
			</td>
			<td>
				2nd Oct
			</td>
			<td>
				Electric
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr>
			<td>
				Tues
			</td>
			<td>
				3rd Oct
			</td>
			<td>
				Electric
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr>
			<td>
				Mon
			</td>
			<td>
				9th Oct
			</td>
			<td>
				Conservation
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr>
			<td>
				Tues
			</td>
			<td>
				10th Oct
			</td>
			<td>
				Conservation
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr>
			<td>
				Mon
			</td>
			<td>
				16th Oct
			</td>
			<td>
				Mini pioneering
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr>
			<td>
				Tues
			</td>
			<td>
				17th Oct
			</td>
			<td>
				Mini pioneering
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr class="font-red text-center">
			<td colspan="100%">
				Half Term
			</td>
		</tr>
		<tr>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr>
			<td>
				Mon
			</td>
			<td>
				30th Oct
			</td>
			<td>
				Remembrance prep and medal making
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr>
			<td>
				Tues
			</td>
			<td>
				31st Oct
			</td>
			<td>
				Remembrance prep and medal making
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr>
			<td>
				Mon
			</td>
			<td>
				6th Nov
			</td>
			<td>
				Fire safety talk TBC
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr>
			<td>
				Tues
			</td>
			<td>
				7th Nov
			</td>
			<td>
				Fire safety talk TBC
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr class="font-blue">
			<td>
				Sun
			</td>
			<td>
				12th Nov
			</td>
			<td>
				Remembrance Sunday
			</td>
			<td>
				All to attend
			</td>
		</tr>
		<tr>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr>
			<td>
				Mon
			</td>
			<td>
				13th Nov
			</td>
			<td>
				Gang show prep
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr>
			<td>
				Tues
			</td>
			<td>
				14th Nov
			</td>
			<td>
				Gang Show Prep
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr class="font-blue">
			<td>
				Fri - Sun
			</td>
			<td>
				17th - 19th Nov
			</td>
			<td>
				Braggers wood autumn camp
			</td>
			<td>
				Details to follow
			</td>
		</tr>
		<tr>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr>
			<td>
				Mon
			</td>
			<td>
				20th Nov
			</td>
			<td>
				Joint night-final Gang show practise
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr>
			<td>
				Tues
			</td>
			<td>
				21st Nov
			</td>
			<td>
				No cubs- Joint night last night
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr class="font-blue">
			<td>
				Thu - Sat
			</td>
			<td>
				23rd - 25th Nov
			</td>
			<td>
				Gang show
			</td>
			<td>
				Details to follow
			</td>
		</tr>
		<tr>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr>
			<td>
				Mon
			</td>
			<td>
				27th Nov
			</td>
			<td>
				Christmas and climbing
			</td>
			<td>
				Please bring in a jam jar
			</td>
		</tr>
		<tr>
			<td>
				Tues
			</td>
			<td>
				28th Nov
			</td>
			<td>
				Christmas and climbing
			</td>
			<td>
				Please bring in a jam jar
			</td>
		</tr>
		<tr>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr class="font-blue">
			<td>
				Sat
			</td>
			<td>
				2nd Dec
			</td>
			<td>
				Festival of Lights Longleat
			</td>
			<td>
				Details to follow
			</td>
		</tr>
		<tr>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr>
			<td>
				Mon
			</td>
			<td>
				4th Dec
			</td>
			<td>
				Christmas and climbing
			</td>
			<td>
				Please bring in a jam jar
			</td>
		</tr>
		<tr>
			<td>
				Tues
			</td>
			<td>
				5th Dec
			</td>
			<td>
				Christmas and climbing
			</td>
			<td>
				Please bring in a jam jar
			</td>
		</tr>
		<tr>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr>
			<td>
				Mon
			</td>
			<td>
				11th Dec
			</td>
			<td>
				No cubs-Joint night tomorrow
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr>
			<td>
				Tues
			</td>
			<td>
				12th Dec
			</td>
			<td>
				Oasis
			</td>
			<td>
				Details to follow
			</td>
		</tr>
		<tr>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr class="font-blue">
			<td>
				Sun
			</td>
			<td>
				17th Dec
			</td>
			<td>
				Splashdown
			</td>
			<td>
				Details to follow
			</td>
		</tr>
	</tbody>
</table>



<hr>
<h3>Notable Dates</h3>
<p>See <a href="/events">group events here</a>.</p>