---
layout: default
active: /beavers/programme
---

<h1 class="page-heading">Beavers Programme</h1>

<p>
    Bracken - Wednesdays 5:30pm - 6:45pm<br> Gorse - Thursdays 6:00pm - 7:15pm<br> Unless notified otherwise.<br>
</p>

<p><a href="/programmes/2017-autumn-beavers.pdf" class="btn btn-success" target="_blank"><span class="glyphicon glyphicon-download-alt"></span> Download Beaver Programme</a> <a href="/programmes/2017-autumn-beavers-badges.pdf" class="btn btn-info" target="_blank"><span class="glyphicon glyphicon-download-alt"></span> Download Beaver Badges</a></p>

<br>

<table class="table table-hover table-bordered">
    <tr>
        <th width="15%">Date</th>
        <th width="20%">Where</th>
        <th width="25%">Activity</th>
        <th width="40%">Notes</th>
    </tr>

    <tr>
        <td>Wed 6 / Thurs 7 September</td>
        <td>Poulner Scout Hall</td>
        <td>Games and History of Scouting </td>
        <td></td>
    </tr>
    <tr class="font-blue">
        <td>Thurs 14 September - Joint evening</td>
        <td>Poulner Scout Hall</td>
        <td>Games and Fundamentals of Scouting</td>
        <td>Golden rules – wall display</td>
    </tr>
    <tr>
        <td>Sat 16 September</td>
        <td>Ringwood Carnival</td>
        <td>Details to follow</td>
        <td></td>
    </tr>
    <tr>
        <td>Wed 20 / Thurs 21 September</td>
        <td>Blunts Barn, SP6 2PT</td>
        <td>Team Games</td>
        <td>Wear clothes suitable for the weather – we will Whatsapp Beavers if the weather is bad to rearrange </td>
    </tr>
    <tr>
        <td>Wed 27 / Thurs 28 September</td>
        <td>Drop off and collect from The Gateway building, Ringwood</td>
        <td>Safety</td>
        <td>Extra help needed please as we will be exploring Ringwood on foot, focussing on Road and other Safety issues! For
            next week make a list of dangers you might find in your home</td>
    </tr>
    <tr>
        <td>Wed 4 / Thurs 5 October</td>
        <td>Poulner Scout Hall</td>
        <td>Safety / Climbing</td>
        <td>Beavers in two groups to swop over next week. If you are climbing, bring in spare clean trainers. If not climbing,
            you will be doing Safety activities/ quiz</td>
    </tr>
    <tr>
        <td>Wed 11 / Thurs 12 October</td>
        <td>Poulner Scout Hall</td>
        <td>Safety / Climbing</td>
        <td>Beavers in two groups to swop over next week. If you are climbing, bring in spare clean trainers. If not climbing,
            you will be doing Safety activities/ quiz</td>
    </tr>
    <tr class="font-blue">
        <td>Wed 18 October</td>
        <td>Joint evening</td>
        <td>Visit</td>
        <td>To be confirmed</td>
    </tr>
    <tr class="font-green text-center">
        <td colspan="4">HALF TERM - 23rd October – 27th October 2017</td>
    </tr>
    <tr>
        <td>Wed 1 / Thurs 2 November</td>
        <td>Poulner Scout Hall</td>
        <td>Cook badge and Gang show preparation</td>
        <td>Stay Safe – Anti-bullying - Think about what makes you a good friend. Bonfire cakes!</td>
    </tr>
    <tr>
        <td>Wed 8 / Thurs 9 November</td>
        <td>Poulner Scout Hall</td>
        <td>Gang show preparation</td>
        <td></td>
    </tr>
    <tr>
        <td>Wed 15 / Thurs 16 November</td>
        <td>Poulner Scout Hall</td>
        <td>Gang show preparation</td>
        <td></td>
    </tr>
    <tr class="font-blue">
        <td>Thurs 23 November – Joint evening</td>
        <td>Poulner Scout Hall</td>
        <td>Gang show – dress rehearsal</td>
        <td>Beavers can leave after their rehearsal</td>
    </tr>
    <tr class="font-red">
        <td>Friday 24 November and Sat 25 November</td>
        <td>Poulner Scout Hall</td>
        <td>Gang show performances</td>
        <td>Beavers can go home after their performance or stay and watch the whole show on both nights – more information to
            follow</td>
    </tr>
    <tr>
        <td>Wed 29 / Thurs 30 November</td>
        <td>Poulner Scout Hall</td>
        <td>Cook badge </td>
        <td>Beavers in 2 groups – half bring in pizza toppings / half bring in a selection of fruit to make into fruit salad
            and swop for next week</td>
    </tr>
    <tr>
        <td>Wed 6 / Thurs 7 December</td>
        <td>Poulner Scout Hall</td>
        <td>Cook badge </td>
        <td>Beavers in 2 groups – half bring in pizza toppings / half bring in a selection of fruit to make into fruit salad</td>
    </tr>
    <tr class="font-blue">
        <td>Wed 13 December</td>
        <td>Joint Night</td>
        <td>Poulner Scout Hall</td>
        <td>Christmas Party. Bring a plate of food – list will be given out</td>
    </tr>

</table>

<h3>Notable Dates</h3>
<p>See <a href="/events">group events here</a>.</p>
<p>Spring Term starts Wed 10/Thurs 11 January 2018.</p>