---
layout: default
active: /explorers/programme
---

<h1 class="page-heading">Explorer Programme</h1>
<hr>


<p><a href="/programmes/2017-autumn-explorers.pdf" class="btn btn-success" target="_blank"><span class="glyphicon glyphicon-download-alt"></span> Download Explorer Programme</a></p>
<p>Thursdays 19:30 till 21:30PM</p>
<br>

<table class="table table-hover table-bordered">
	<tr>
		<th>Date</th>
		<th>Activity</th>
		<th>Location</th>
		<th>Equipment</th>
	</tr>
	<tr>
		<td>Sep 7th</td>
		<td>Malawi presentation</td>
		<td>Hall</td>
		<td></td>
	</tr>
	<tr>
		<td>Sep 14th</td>
		<td>Search and find</td>
		<td>Sandpits</td>
		<td>Head torch</td>
	</tr>
	<tr>
		<td>Sat 16th</td>
		<td>Carnival</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Sep 21st</td>
		<td>hunt, shoot and ?</td>
		<td>Ogdens car park</td>
		<td>knife head torch</td>
	</tr>
	<tr>
		<td>Sep 28th</td>
		<td>The rule of 3</td>
		<td>Blunts</td>
		<td>knife head torch</td>
	</tr>
	<tr>
		<td>Oct 5th</td>
		<td>Pizza</td>
		<td>Hall</td>
		<td>knife head torch</td>
	</tr>
	<tr>
		<td>Oct 12th</td>
		<td>Leonardo</td>
		<td>Hall</td>
		<td></td>
	</tr>
	<tr>
		<td>Oct 20th</td>
		<td>Friday Bivvy 7:00pm</td>
		<td>Hall meet</td>
		<td>Over night Bivvy sat 9am</td>
	</tr>
	<tr>
		<td>Oct 26th</td>
		<td>Half term</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Nov 2nd</td>
		<td>Gang show</td>
		<td>Hall</td>
		<td></td>
	</tr>
	<tr>
		<td>Nov 9th</td>
		<td>Gang show</td>
		<td>Hall</td>
		<td></td>
	</tr>
	<tr>
		<td>Nov 12th</td>
		<td>Remembrance</td>
		<td>Parade</td>
		<td></td>
	</tr>
	<tr>
		<td>Nov16th</td>
		<td>Gang show</td>
		<td>Hall</td>
		<td></td>
	</tr>
	<tr>
		<td>Nov 23/24/25</td>
		<td>Gang show</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Nov 30th</td>
		<td>Wide games</td>
		<td>Sandpits</td>
		<td>Headtorch</td>
	</tr>
	<tr>
		<td>Dec 7th</td>
		<td>Moyles Court Sport</td>
		<td>waterspash gravel drop off</td>
		<td>trainers in your hand gym clothes</td>
	</tr>
	<tr>
		<td>Dec 14th</td>
		<td>Xmas party</td>
		<td>TBA</td>
		<td>Christmas!!</td>
	</tr>

</table>

<hr>
<h3>Notable Dates</h3>
<p>See <a href="/events">group events here</a>.</p>