---
layout: default
title: 1st Poulner Scout Group - Files
active: files
---

<h1 class="page-heading">Useful Files</h1>
<p>A set of files you may find useful</p>
<ul class="list-group">
	<li class="list-group-item">
		<a href="2017-GroupDates.xls" target="_blank"><span class="glyphicon glyphicon-download-alt"></span> 1st Poulner Group Dates 2017</a>
	</li>
	<li class="list-group-item">
		<a href="CubKitListSummerCamp.pdf" target="_blank"><span class="glyphicon glyphicon-download-alt"></span> Cub Kit List Summer Camp</a>
	</li>
	<li class="list-group-item">
		<a href="PermissionToCampForm.pdf" target="_blank"><span class="glyphicon glyphicon-download-alt"></span> Permission To Camp Form</a>
	</li>
	<li class="list-group-item">
		<a href="GiftAidForm.pdf" target="_blank"><span class="glyphicon glyphicon-download-alt"></span> Gift Aid Form</a>
	</li>
	<li class="list-group-item">
		<a href="WelcomePack2015.pdf" target="_blank"><span class="glyphicon glyphicon-download-alt"></span> Welcome Pack 2015</a>
	</li>
</ul>
