---
layout: default
title: 1st Poulner Scout Group - Events
active: events
---

<h1 class="page-heading">Diary of Events</h1>

<p>Confirmed diary dates for events and meetings</p>
<p><a href="/files/2017-GroupDates.xls" class="btn btn-success" target="_blank"><span class="glyphicon glyphicon-download-alt"></span> Download Group Dates</a></p>

<table class="table table-bordered">
	<tr>
		<th width="25%">Date</th>
		<th width="25%">Event</th>
		<th>Beavers</th>
		<th>Cubs</th>
		<th>Scouts</th>
		<th>Explorers</th>
		<th>Leaders</th>
		<th>Explorers and Parents help needed</th>
		<th>Fundraising - Parents, Friends, Relations</th>
	</tr>
	<tr style="height:50px;">
		<td>Fri 31 March - Sun 2 April</td>
		<td>St. Georges Camp Braggers Wood (Beavers Sat - Sun only) Clashes with RRR on 2 April -change date???</td>
		<td style="background-color: #6CC24F"></td>
		<td style="background-color: #6CC24F"></td>
		<td style="background-color: #6CC24F"></td>
		<td style="background-color: #6CC24F"></td>
		<td style="background-color: #6CC24F"></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td style="font-weight:bold" colspan="9">April 2017</td>
	</tr>
	<tr>
		<td>Sat 2 April</td>
		<td>Ringwood Rabbit Run - Moors Valley</td>
		<td style="background-color: #6CC24F"></td>
		<td style="background-color: #6CC24F"></td>
		<td style="background-color: #6CC24F"></td>
		<td style="background-color: #6CC24F"></td>
		<td style="background-color: #6CC24F"></td>
		<td style="background-color: #6CC24F"></td>
		<td style="background-color: #6CC24F"></td>
	</tr>
	<tr>
		<td>Sat 29 April</td>
		<td>Malawi 2017 Training</td>
		<td></td>
		<td></td>
		<td></td>
		<td style="background-color: #6CC24F"></td>
		<td style="background-color: #6CC24F"></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td style="font-weight:bold" colspan="9">May 2017</td>
	</tr>
	<tr>
		<td>Sat 27 - Wed 31 May</td>
		<td>Cub Camp</td>
		<td></td>
		<td style="background-color: #6CC24F"></td>
		<td></td>
		<td></td>
		<td style="background-color: #6CC24F"></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Fri 26 - Wed 31 May</td>
		<td>Scout camp - cycling in France</td>
		<td></td>
		<td></td>
		<td style="background-color: #6CC24F"></td>
		<td></td>
		<td style="background-color: #6CC24F"></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td style="font-weight:bold" colspan="9">June 2017</td>
	</tr>
	<tr>
		<td>Sat 17/ Sun 18 June</td>
		<td>Malawi 2017 Training</td>
		<td></td>
		<td></td>
		<td></td>
		<td style="background-color: #6CC24F"></td>
		<td style="background-color: #6CC24F"></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td style="font-weight:bold" colspan="9">July 2017</td>
	</tr>
	<tr>
		<td>Fri 30 June, Sat 1 July</td>
		<td>Set up for Activity Day - Blunts Barn</td>
		<td style="background-color: #6CC24F"></td>
		<td style="background-color: #6CC24F"></td>
		<td style="background-color: #6CC24F"></td>
		<td style="background-color: #6CC24F"></td>
		<td style="background-color: #6CC24F"></td>
		<td style="background-color: #6CC24F"></td>
		<td style="background-color: #6CC24F"></td>
	</tr>
	<tr>
		<td>Sun 2 July</td>
		<td>Activity Day at Blunts Barn</td>
		<td style="background-color: #6CC24F"></td>
		<td style="background-color: #6CC24F"></td>
		<td style="background-color: #6CC24F"></td>
		<td style="background-color: #6CC24F"></td>
		<td style="background-color: #6CC24F"></td>
		<td style="background-color: #6CC24F"></td>
		<td style="background-color: #6CC24F"></td>
	</tr>
	<tr>
		<td>Sun 9 July</td>
		<td>Malawi 2017 Training</td>
		<td></td>
		<td></td>
		<td></td>
		<td style="background-color: #6CC24F"></td>
		<td style="background-color: #6CC24F"></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Sat 22 July - Wed 9 August</td>
		<td>Malawi 2017 Trip </td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td style="font-weight:bold" colspan="9">August 2017</td>
	</tr>
	<tr>
		<td style="font-weight:bold" colspan="9">September 2017</td>
	</tr>
	<tr>
		<td>Sat 2 Sept</td>
		<td>Beer and Music Festival</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Sat 16 Sept</td>
		<td>Ringwood Carnival</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td style="font-weight:bold" colspan="9">October 2017</td>
	</tr>
</table>