---
layout: default
active: /scouts/programme
---

<h1 class="page-heading">Scouts Programme</h1>

<p>
	Curlew - Wednesdays 7.00 till 8.30 pm<br>
	Kingfisher - Fridays 7.30 – 9pm<br>
	Unless notified otherwise.<br>
</p>
<p>
<ul>
	<li>The Troops programme will still take place if it is raining</li>
	<li>If the programme states we are outdoors [normally making use of the New Forest] suitable clothing MUST be worn I.e. Stout Footwear or Hiking Boots, No Jeans, warm clothing and Waterproof coat and Trousers</li>
	<li>There will be joint evenings planned for the Term. Please pay special attention to these and note the timings
		<li>Subscriptions are due either half termly [£20] or termly [£40] on the FIRST Friday of the term. All cheques should be made payable to 1st Poulner Scout Group</li>
		<li>ALL Scouts are expected to wear their uniform [Scout Shirt] and 1st Poulner Scarf to all Hall based Meetings. A suggestion is to wear a t-shirt [or the Poulner Activity Polo shirt] under the Shirt so the Shirt can be removed for the evening activity</li>
		<li>Scout Shirts are not required when we meet away from the Hall, but Scarfs should still be worn and the Poulner activity shirt [if you have one]</li>
	</ul>
</p>

<br>

<hr>


<p><a href="/programmes/2017-autumn-scouts.pdf" class="btn btn-success" target="_blank"><span class="glyphicon glyphicon-download-alt"></span> Download Scout Programme</a></p>
<br>


<table class="table table-bordered">
	<tr>
        <th>Month</th>
        <th>Date</th>
        <th>Location</th>
		<th>Activity</th>
	</tr>
	<tr class="font-blue">
        <td>September</td>
        <td>Fri 8th </td>
        <td>Poulner HQ</td>
        <td>Joint night</td>
    </tr>
    <tr class="font-blue">
        <td>September</td>
        <td>Wed 13th</td>
        <td>Moyles Court</td>
        <td>Joint night 7pm - Wear appropriate clothing/torch</td>
    </tr>
    <tr>
        <td>September</td>
        <td>Wed 20th / Fri 22nd</td>
        <td>Moors Valley</td>
        <td>Moors Valley bike ride</td>
    </tr>
    <tr>
        <td>September</td>
        <td>Wed 27th / Fri 29th</td>
        <td>Poulner HQ</td>
        <td>Fire lighting</td>
    </tr>
    <tr>
        <td>October</td>
        <td>Wed 4th / Fri 6th</td>
        <td></td>
        <td>Skate n scoot (details to follow)</td>
    </tr>
    <tr>
        <td>October</td>
        <td>Wed 11th / Fri 13th</td>
        <td>Poulner HQ</td>
        <td>First aid</td>
    </tr>
    <tr class="font-blue">
        <td>October</td>
        <td>Fri 20th</td>
        <td>Blunts Barn</td>
        <td>Joint night - Bivi</td>
    </tr>
    <tr class="text-center">
        <td colspan="4">October - 25th / 27th - Half term</td>
    </tr>
    <tr>
        <td>November</td>
        <td>Wed 1st / Fri 3rd</td>
        <td>Poulner HQ</td>
        <td>Gang show</td>
    </tr>
    <tr>
        <td>November</td>
        <td>Wed 8th / Fri 10th</td>
        <td>Poulner HQ</td>
        <td>Gang show</td>
    </tr>
    <tr class="font-green">
        <td>November</td>
        <td>Sunday 12th</td>
        <td>Parade</td>
        <td>Remembrance day parade</td>
    </tr>
    <tr>
        <td>November</td>
        <td>Wed 15th / Fri 17th</td>
        <td>Poulner HQ</td>
        <td>Gang show</td>
    </tr>
    <tr class="font-red">
        <td>November</td>
        <td>Sat 18th / Sun 19th</td>
        <td></td>
        <td>Overnight hike (details to follow)</td>
    </tr>
    <tr class="font-red">
        <td>November</td>
        <td>Thu 23rd / Fri 24th / Sat 25th</td>
        <td>Poulner HQ</td>
        <td>Gang show</td>
    </tr>
    <tr>
        <td>November / December</td>
        <td>Wed 29th / Fri 1st</td>
        <td>Poulner HQ</td>
        <td>Map reading</td>
    </tr>
    <tr>
        <td>December</td>
        <td>Wed 6th / Fri 8th </td>
        <td>Poulner HQ</td>
        <td>Micro nav</td>
    </tr>
    <tr>
        <td>December</td>
        <td>Wed 13th / Fri 15th</td>
        <td>Poulner HQ</td>
        <td>Climbing / shooting</td>
    </tr>
    <tr class="text-center">
        <td colspan="4">December - 20th / 22nd - Xmas break</td>
    </tr>
    <tr class="font-red">
        <td>December</td>
        <td>Fri 22nd</td>
        <td></td>
        <td>Bag packing at Sainsburys</td>
    </tr>
</table>


<hr>
<h3>Notable Dates</h3>
<p>See <a href="/events">group events here</a>.</p>
