---
layout: default
title: 1st Poulner Scout Group - RRR
active: /events/rrr
---

<h1 class="page-heading">Ringwood Rabbit Run</h1>

<p>Race in the <a href="http://www.ringwoodrabbitrun.org/" target="_blank">Ringwood Rabbit Run</a></p>

<iframe src="http://www.ringwoodrabbitrun.org/" width="100%" height="800px"></iframe>